aplay__and_stop.json
[{"id":"752dee28.05168","type":"inject","z":"49acc1ef.0f58e","name":"","topic":"","payload":"/home/pi/sound_of_sails/audio/joy.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":439.2909393310547,"y":84.72726440429688,"wires":[["2c54bd10.7f38d2"]]},{"id":"2c54bd10.7f38d2","type":"exec","z":"49acc1ef.0f58e","command":"aplay ","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":627.5000152587891,"y":101.5,"wires":[["2673728e.97a5ae"],["4dbd2dc5.9942b4"],["48f9c8bb.2e58c8"]]},{"id":"2673728e.97a5ae","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":821.5000152587891,"y":82.79998779296875,"wires":[]},{"id":"4dbd2dc5.9942b4","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":821.2000122070312,"y":114.19999694824219,"wires":[]},{"id":"48f9c8bb.2e58c8","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":820.2000122070312,"y":146.1999969482422,"wires":[]},{"id":"ce30fbb0.32cd28","type":"inject","z":"49acc1ef.0f58e","name":"","topic":"","payload":"/home/pi/sound_of_sails/audio/joy.wav","payloadType":"str","repeat":"","crontab":"","once":false,"x":367.2000427246094,"y":212.1999969482422,"wires":[["f1ddd65c.bc4cb8"]]},{"id":"f1ddd65c.bc4cb8","type":"exec","z":"49acc1ef.0f58e","command":"ps -u | grep aplay","addpay":false,"append":"","useSpawn":false,"timer":"","name":"","x":540.4090728759766,"y":212.9727325439453,"wires":[["8b7ff8d4.4436f8","86152a46.6ba498"],["ff5afb34.6a1af8"],["d7834528.6d43c8"]]},{"id":"8b7ff8d4.4436f8","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":820.4090881347656,"y":206.27272033691406,"wires":[]},{"id":"ff5afb34.6a1af8","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":820.1090850830078,"y":237.6727294921875,"wires":[]},{"id":"d7834528.6d43c8","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":819.1090850830078,"y":269.6727294921875,"wires":[]},{"id":"7ed0fd49.f021e4","type":"exec","z":"49acc1ef.0f58e","command":"kill","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":794.2000350952148,"y":352.2000274658203,"wires":[["d6121848.2d2ef8"],["7bb01078.f26df"],["62cc0c92.ae7954"]]},{"id":"86152a46.6ba498","type":"function","z":"49acc1ef.0f58e","name":"","func":"var str = msg.payload;\nstr = JSON.stringify(str);\nstr = str.substring(10,15);\nreturn {payload:str};","outputs":1,"noerr":0,"x":612.4999847412109,"y":332.59999084472656,"wires":[["971e06a2.ca4dc8","7ed0fd49.f021e4"]]},{"id":"971e06a2.ca4dc8","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"payload","x":813.2000350952148,"y":397.2000274658203,"wires":[]},{"id":"d6121848.2d2ef8","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":1038.200050354004,"y":326.2000427246094,"wires":[]},{"id":"7bb01078.f26df","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":1037.900047302246,"y":357.6000518798828,"wires":[]},{"id":"62cc0c92.ae7954","type":"debug","z":"49acc1ef.0f58e","name":"","active":true,"console":"false","complete":"false","x":1036.900047302246,"y":389.6000518798828,"wires":[]}]