SoundOfSails_Prototyp1.json
[{"id":"bfc21563.f3e378","type":"file in","z":"ca27bb85.498468","name":"JPEG File","filename":"","format":"","x":548.111083984375,"y":559.5,"wires":[["e6fc224c.960a2"]]},{"id":"a9ea523b.e1c2b","type":"http in","z":"ca27bb85.498468","name":"","url":"/image","method":"get","swaggerDoc":"","x":137.111083984375,"y":494.5,"wires":[["bdc44df.5596db"]]},{"id":"e6fc224c.960a2","type":"function","z":"ca27bb85.498468","name":"Set Content-Type header","func":"msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":747.611083984375,"y":559.25,"wires":[["c9664a8b.789c48"]]},{"id":"bdc44df.5596db","type":"switch","z":"ca27bb85.498468","name":"file specified","property":"payload.file","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":327.111083984375,"y":494,"wires":[["d42566ad.dfaf58"],["4c16510a.1c02e"]]},{"id":"d42566ad.dfaf58","type":"function","z":"ca27bb85.498468","name":"not found","func":"msg.payload = \"404 not found\"\nreturn msg;","outputs":1,"noerr":0,"x":548.111083984375,"y":488,"wires":[["c9664a8b.789c48"]]},{"id":"4c16510a.1c02e","type":"function","z":"ca27bb85.498468","name":"file name","func":"msg.filename = msg.payload.file;\nreturn msg;","outputs":1,"noerr":0,"x":405.611083984375,"y":559.25,"wires":[["bfc21563.f3e378"]]},{"id":"c7fe769a.45a978","type":"http in","z":"ca27bb85.498468","name":"","url":"/sos","method":"get","swaggerDoc":"","x":128.111083984375,"y":117.25,"wires":[["a1370abb.cce8b8","37ca9d4b.b8a5f2"]]},{"id":"c9664a8b.789c48","type":"http response","z":"ca27bb85.498468","name":"","x":901.111083984375,"y":487.75,"wires":[]},{"id":"5d2b02b7.7da2fc","type":"http response","z":"ca27bb85.498468","name":"","x":898.111083984375,"y":117.25,"wires":[]},{"id":"9c93b65a.80ab98","type":"template","z":"ca27bb85.498468","name":"Overview Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Sound of Sails</title>\n\t\t<style>\n\t\t\tbody {background: #000;text-align:center;}\n\t\t\timg {width: 30%;margin-left:1%;margin-top: 1%;}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82520ab637.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82520ab637.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825218aee2.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825218aee2.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825220573b.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825220573b.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82522669eb.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82522669eb.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252278997.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252278997.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82522ec2c3.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82522ec2c3.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825235bab2.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825235bab2.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82523d5894.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82523d5894.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252453730.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252453730.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82524c393b.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82524c393b.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82525410b5.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82525410b5.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825259ffb7.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825259ffb7.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825261ed43.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825261ed43.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825268b3b7.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825268b3b7.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82527054a4.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82527054a4.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82527a2f5e.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82527a2f5e.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82527be687.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82527be687.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82528358b7.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82528358b7.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82528a331f.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82528a331f.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252915847.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252915847.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252999eba.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252999eba.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252a36cc8.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252a36cc8.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252aaa1bb.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252aaa1bb.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252abb541.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252abb541.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252ac8bf3.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252ac8bf3.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252b4ac96.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252b4ac96.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252be0cfc.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252be0cfc.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252c4f6a4.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252c4f6a4.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252cb0859.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252cb0859.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252d291da.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252d291da.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252d9e4fc.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252d9e4fc.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252db1a07.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252db1a07.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252e2606a.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252e2606a.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252e975c0.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252e975c0.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252f0506a.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252f0506a.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252f6322b.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252f6322b.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8252fc4e14.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8252fc4e14.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82530263d0.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82530263d0.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d8253040aa9.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d8253040aa9.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d82530b5005.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d82530b5005.jpg\"></a>\n\t\t<a href=\"http://{{ip}}:1880/show?file=/home/pi/sound_of_sails/m57d825311e022.jpg\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file=/home/pi/sound_of_sails/m57d825311e022.jpg\"></a>\n\t</body>\n</html>\u0012","x":636.611083984375,"y":117,"wires":[["5d2b02b7.7da2fc"]]},{"id":"edd00c90.a9776","type":"http response","z":"ca27bb85.498468","name":"","x":896.111083984375,"y":227.25,"wires":[]},{"id":"33f44c33.db1194","type":"template","z":"ca27bb85.498468","name":"Image Detail Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Sound of Sails</title>\n\t\t<style>\n\t\t\tbody {margin:0;background: #000;text-align:center;}\n\t\t\timg {height: 80%;margin-top:5%;}\n\t\t</style>\n\t</head>\n\t\t<a href=\"http://{{ip}}:1880/sos\"><img alt=\"\" src=\"http://{{ip}}:1880/image?file={{payload.image}}\"></a>\n\t</body>\n</html>","x":647.611083984375,"y":227,"wires":[["edd00c90.a9776"]]},{"id":"b7e25cdf.0657d","type":"http in","z":"ca27bb85.498468","name":"","url":"/show","method":"get","swaggerDoc":"","x":126.111083984375,"y":227.25,"wires":[["d1140f0f.4490e"]]},{"id":"d1140f0f.4490e","type":"function","z":"ca27bb85.498468","name":"file name","func":"msg.filename = msg.payload.file;\n\nmsg.payload = {\n    \"image\" : msg.payload.file\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":270.611083984375,"y":227,"wires":[["501069ad.b323c8","64b46e4d.5a0f8","3ba6dd86.a37e42"]]},{"id":"f6161ccf.40144","type":"comment","z":"ca27bb85.498468","name":"Overview Page","info":"","x":150.611083984375,"y":65,"wires":[]},{"id":"bc6fc5ae.75cbc8","type":"comment","z":"ca27bb85.498468","name":"Detail Page (single image)","info":"","x":176.111083984375,"y":187.25,"wires":[]},{"id":"f8ec3712.b9be28","type":"comment","z":"ca27bb85.498468","name":"Serve images from /home/pi/sound_of_sails/","info":"","x":237.111083984375,"y":455.25,"wires":[]},{"id":"a1370abb.cce8b8","type":"function","z":"ca27bb85.498468","name":"Hier IP eintragen","func":"msg.ip = \"192.168.0.186\"; //your ip here\nreturn msg;","outputs":1,"noerr":0,"x":436.50001525878906,"y":156.60000610351562,"wires":[["9c93b65a.80ab98"]]},{"id":"501069ad.b323c8","type":"function","z":"ca27bb85.498468","name":"Hier IP eintragen","func":"msg.ip = \"192.168.0.186\"; //your ip here\nreturn msg;","outputs":1,"noerr":0,"x":447.2000274658203,"y":229.1999969482422,"wires":[["33f44c33.db1194"]]},{"id":"64b46e4d.5a0f8","type":"debug","z":"ca27bb85.498468","name":"","active":true,"console":"false","complete":"false","x":423.2142868041992,"y":313.79998111724854,"wires":[]},{"id":"b785942d.d9fa18","type":"comment","z":"ca27bb85.498468","name":"Image Analysis","info":"See corresponding Lab instructions in the link below :\n\n[Watson Visual Recognition](https://github.com/watson-developer-cloud/node-red-labs/tree/master/basic_examples/visual_recognition_v3)\n","x":843.6666259765625,"y":308.6666564941406,"wires":[]},{"id":"3127e184.76880e","type":"visual-recognition-v3","z":"ca27bb85.498468","name":"","apikey":"5c542d6b5bf9ffe9306826d4a349e822a3d199fb","image-feature":"classifyImage","lang":"en","x":597.0625152587891,"y":350.6521692276001,"wires":[["28fee0ba.78fa"]]},{"id":"28fee0ba.78fa","type":"function","z":"ca27bb85.498468","name":"","func":"if(msg.result.images.classifiers !== null)\n{\n    if(msg.result.images[0].classifiers[0] !== undefined) {\n        msg.payload = msg.result.images[0].classifiers[0].classes[0].score + \",\";\n        return msg;\n    } else {\n        msg.payload = 0 + \",\";\n        return msg;\n    }\n} else {\n    msg.payload = 0 + \",\";\n    return msg;\n}","outputs":1,"noerr":0,"x":773.1792144775391,"y":348.82087230682373,"wires":[["3335c87b.7b0a78","81216d82.3e082"]]},{"id":"3335c87b.7b0a78","type":"debug","z":"ca27bb85.498468","name":"","active":true,"console":"true","complete":"true","x":914.5626392364502,"y":390.65214109420776,"wires":[]},{"id":"d2d23be4.d04378","type":"exec","z":"ca27bb85.498468","command":"aplay ","addpay":true,"append":"","useSpawn":true,"timer":"","name":"","x":1048.2014350891113,"y":348.61365509033203,"wires":[["9a88bd00.b5eb6"],[],[]]},{"id":"81216d82.3e082","type":"function","z":"ca27bb85.498468","name":"","func":"var trigger = 0.02;\n\nif (msg.payload === 0)  {\n    trigger = Math.round(Math.random()*100)%6;\n}else if(msg.payload > 0) {\n    trigger =  msg.payload * 5;\n} else {\n    trigger = Math.round(Math.random()*100)%5;\n}\nmsg.trigger = trigger;\n\nif(trigger < 1) {\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"ang\" + \"+\" + \".wav\";\n    msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"ang\" + \"\" + \".wav\";\n    return msg;\n    //.payload = \"/home/pi/sound_of_sails/audio/\" + \"ang\" + \"-\" + \".wav\";\n} else if(trigger < 2) {\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"disg\" + \"+\" + \".wav\";\n    msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"disg\" + \"\" + \".wav\";\n    return msg;\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"disg\" + \"-\" + \".wav\";\n} else if(trigger < 3) {   \n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"fear\" + \"+\" + \".wav\";\n    msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"fear\" + \"\" + \".wav\";\n    return msg;\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"fear\" + \"-\" + \".wav\";\n} else if(trigger < 4) {\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"joy\" + \"+\" + \".wav\";\n    msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"joy\" + \"\" + \".wav\";\n    return msg;\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"joy\" + \"-\" + \".wav\";\n} else if(trigger < 5) {\n   //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"sad\" + \"+\" + \".wav\";\n    msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"sad\" + \"\" + \".wav\";\n    return msg;\n    //msg.payload = \"/home/pi/sound_of_sails/audio/\" + \"sad\" + \"-\" + \".wav\";\n} else {\n    msg.payload = \"/home/pi/sound_of_sails/audio/mix.wav\";\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":909.8485298156738,"y":348.0909218788147,"wires":[["d2d23be4.d04378","5b3e5ec6.ab7d2"]]},{"id":"7edb466d.a99268","type":"comment","z":"ca27bb85.498468","name":"API Key","info":"Api Key - US\n\n5c542d6b5bf9ffe9306826d4a349e822a3d199fb\n\n","x":600.7500190734863,"y":316.9166793823242,"wires":[]},{"id":"3ba6dd86.a37e42","type":"file in","z":"ca27bb85.498468","name":"JPEG File","filename":"","format":"","x":413.1428451538086,"y":350.2857246398926,"wires":[["3127e184.76880e"]]},{"id":"5b3e5ec6.ab7d2","type":"debug","z":"ca27bb85.498468","name":"","active":true,"console":"true","complete":"true","x":1049.000015258789,"y":389.00000953674316,"wires":[]},{"id":"9a88bd00.b5eb6","type":"debug","z":"ca27bb85.498468","name":"","active":true,"console":"true","complete":"true","x":1192.75,"y":386.5,"wires":[]},{"id":"37ca9d4b.b8a5f2","type":"exec","z":"ca27bb85.498468","command":"ps -u | grep aplay","addpay":false,"append":"","useSpawn":false,"timer":"","name":"","x":437.20899963378906,"y":403.5227470397949,"wires":[["fff3220.8bb36e"],[],[]]},{"id":"b445daf9.34ddf8","type":"exec","z":"ca27bb85.498468","command":"kill","addpay":true,"append":"","useSpawn":false,"timer":"","name":"","x":762.2500076293945,"y":422.75000953674316,"wires":[["8ba95c27.9bf12"],[],[]]},{"id":"fff3220.8bb36e","type":"function","z":"ca27bb85.498468","name":"","func":"var str = msg.payload;\nstr = JSON.stringify(str);\nvar strOut = str.substring(10,15);\nstrOut = strOut + \" \" + str.substring(105,111);\nreturn {payload:strOut};","outputs":1,"noerr":0,"x":613.0499305725098,"y":420.65003395080566,"wires":[["b445daf9.34ddf8"]]},{"id":"419e04f5.ac7d5c","type":"comment","z":"ca27bb85.498468","name":"Stop Audio","info":"","x":1025.449951171875,"y":465.75001525878906,"wires":[]},{"id":"8ba95c27.9bf12","type":"debug","z":"ca27bb85.498468","name":"","active":true,"console":"false","complete":"true","x":912.5000152587891,"y":429.0000100135803,"wires":[]}]