website.json
[{"id":"31fd589b.ac39f","type":"file in","z":"6bbfa0e.1df846","name":"JPEG File","filename":"","format":"","x":492,"y":525.25,"wires":[["2363f79b.45f578"]]},{"id":"846f1838.00cbc8","type":"http in","z":"6bbfa0e.1df846","name":"","url":"/image","method":"get","swaggerDoc":"","x":81,"y":460.25,"wires":[["d4f90e4a.3d03e"]]},{"id":"2363f79b.45f578","type":"function","z":"6bbfa0e.1df846","name":"Set Content-Type header","func":"msg.headers = {\n    \"Content-Type\":\"image/jpeg\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":691.5,"y":525,"wires":[["8d514c9a.c7dc3"]]},{"id":"d4f90e4a.3d03e","type":"switch","z":"6bbfa0e.1df846","name":"file specified","property":"payload.file","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":271,"y":459.75,"wires":[["d529a41c.c38398"],["b99cb0f0.994848"]]},{"id":"d529a41c.c38398","type":"function","z":"6bbfa0e.1df846","name":"not found","func":"msg.payload = \"404 not found\"\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":453.75,"wires":[["8d514c9a.c7dc3"]]},{"id":"b99cb0f0.994848","type":"function","z":"6bbfa0e.1df846","name":"file name","func":"msg.filename = msg.payload.file;\nreturn msg;","outputs":1,"noerr":0,"x":349.5,"y":525,"wires":[["31fd589b.ac39f"]]},{"id":"d5fc97.17d12b68","type":"http in","z":"6bbfa0e.1df846","name":"","url":"/sos","method":"get","swaggerDoc":"","x":72,"y":83,"wires":[["e464ee9c.8606b8"]]},{"id":"8d514c9a.c7dc3","type":"http response","z":"6bbfa0e.1df846","name":"","x":845,"y":453.5,"wires":[]},{"id":"51fe8d70.5a86fc","type":"http response","z":"6bbfa0e.1df846","name":"","x":842,"y":83,"wires":[]},{"id":"e464ee9c.8606b8","type":"template","z":"6bbfa0e.1df846","name":"Overview Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Sound of Sails</title>\n\t\t<style>\n\t\t\tbody {background: #000;text-align:center;}\n\t\t\timg {width: 30%;margin-left:1%;margin-top: 1%;}\n\t\t</style>\n\t</head>\n\t<body>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82520ab637.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82520ab637.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825218aee2.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825218aee2.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825220573b.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825220573b.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82522669eb.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82522669eb.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252278997.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252278997.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82522ec2c3.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82522ec2c3.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825235bab2.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825235bab2.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82523d5894.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82523d5894.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252453730.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252453730.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82524c393b.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82524c393b.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82525410b5.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82525410b5.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825259ffb7.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825259ffb7.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825261ed43.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825261ed43.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825268b3b7.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825268b3b7.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82527054a4.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82527054a4.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82527a2f5e.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82527a2f5e.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82527be687.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82527be687.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82528358b7.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82528358b7.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82528a331f.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82528a331f.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252915847.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252915847.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252999eba.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252999eba.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252a36cc8.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252a36cc8.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252aaa1bb.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252aaa1bb.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252abb541.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252abb541.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252ac8bf3.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252ac8bf3.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252b4ac96.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252b4ac96.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252be0cfc.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252be0cfc.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252c4f6a4.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252c4f6a4.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252cb0859.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252cb0859.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252d291da.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252d291da.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252d9e4fc.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252d9e4fc.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252db1a07.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252db1a07.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252e2606a.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252e2606a.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252e975c0.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252e975c0.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252f0506a.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252f0506a.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252f6322b.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252f6322b.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8252fc4e14.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8252fc4e14.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82530263d0.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82530263d0.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d8253040aa9.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d8253040aa9.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d82530b5005.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d82530b5005.jpg\"></a>\n\t\t<a href=\"http://192.168.43.130:1880/show?file=/home/pi/sound_of_sails/m57d825311e022.jpg\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file=/home/pi/sound_of_sails/m57d825311e022.jpg\"></a>\n\t</body>\n</html>","x":580.5,"y":82.75,"wires":[["51fe8d70.5a86fc"]]},{"id":"8a30fb01.c06a9","type":"http response","z":"6bbfa0e.1df846","name":"","x":840,"y":193,"wires":[]},{"id":"8316f0ba.1c2d98","type":"template","z":"6bbfa0e.1df846","name":"Image Detail Page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<title>Sound of Sails</title>\n\t\t<style>\n\t\t\tbody {margin:0;background: #000;text-align:center;}\n\t\t\timg {height: 80%;margin-top:5%;}\n\t\t</style>\n\t</head>\n\t\t<a href=\"http://192.168.43.130:1880/sos\"><img alt=\"\" src=\"http://192.168.43.130:1880/image?file={{payload.image}}\"></a>\n\t</body>\n</html>","x":591.5,"y":192.75,"wires":[["8a30fb01.c06a9"]]},{"id":"7719d7f6.10386","type":"http in","z":"6bbfa0e.1df846","name":"","url":"/show","method":"get","swaggerDoc":"","x":70,"y":193,"wires":[["49bab6ff.21a7b8"]]},{"id":"49bab6ff.21a7b8","type":"function","z":"6bbfa0e.1df846","name":"file name","func":"msg.payload = {\n    \"image\" : msg.payload.file\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":214.5,"y":192.75,"wires":[["8316f0ba.1c2d98","5dfcc8a.86c7bb8"]]},{"id":"5dfcc8a.86c7bb8","type":"function","z":"6bbfa0e.1df846","name":">> classify and play sound","func":"\nreturn msg;","outputs":1,"noerr":0,"x":395.5,"y":315.75,"wires":[[]]},{"id":"d0ab7421.3da7a","type":"comment","z":"6bbfa0e.1df846","name":"Overview Page","info":"","x":94.5,"y":30.75,"wires":[]},{"id":"17d8065.c479c7a","type":"comment","z":"6bbfa0e.1df846","name":"Detail Page (single image)","info":"","x":120,"y":153,"wires":[]},{"id":"1ee304e6.f003ab","type":"comment","z":"6bbfa0e.1df846","name":"Magic goes here","info":"","x":358,"y":279,"wires":[]},{"id":"eec99475.6b3f","type":"comment","z":"6bbfa0e.1df846","name":"Serve images from /home/pi/sound_of_sails/","info":"","x":181,"y":421,"wires":[]}]